@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
}


.main-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin);
  color: white; */
}

.quote-box {
  border-radius: 5px;
  min-height: 45vh;
  width: 45vw;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.quote-text {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

#text {
  font-family: 'Roboto'  sans-serif;
  font-size: 30px;
  text-align: center;
}

.quote-author {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 15px;
}

#author {
  font-family: 'Satisfy', cursive;
  font-size: 24px;
}

.quote-footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}